.headerMovie {
    text-align: center;
    color: lime;
    padding-bottom: 35px;
}
.headerOrder {
    text-align: center;
    color: darkorange;
    padding-bottom: 35px;
}
.headerDirector {
    text-align: center;
    color: deeppink;
    padding-bottom: 35px;
}
table {
    width: 80%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid gray;
    padding: 15px;
    font-size: 22px;
    text-align: center;
}

.director th {
    background-color: deeppink;
    color: white;
}
.movie th {
    background-color: lime;
    color: white;
}
.order th {
    background-color: darkorange;
    color: white;
}